<html>
<head>
<title>Orders</title>
<h2><centre>Orders</centre></h2>
<script type = "text/javascript">
function loadref(time)
{
setTimeout("location.reload(true);",time)	
}
</script>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<table class="table table-hover table-dark">
<thead>
<tr>
<th scope= 'col'>Name</th>
<th scope="col">Email</th>
<th scope="col">Phone Number</th>
<th scope="col">Number of People (Order Size)</th>
<th scope="col">Order Choice</th>
<th scope="col">Delivery time</th>
<th scope="col">Date and Time When Customer Placed The Order</th>
<th scope="col">Dietary Restrictions</th>
<th scope="col">Delivery Address</th>
<th scope="col">Confirm</th>
<th scope="col">Delete</th>
</tr>
<body onload="javascript:loadref(5000)">
{% for task in tasks %}
<tbody>
<tr>
<td scope="row">{{ task.your_name }}</td>
<td>{{ task.email }}</td>
<td> {{ task.phone_number }}</td>
<td>{{ task.order_size }}</td>
<td>{{ task.order_choice }}</td>
<td>{{ task.delivery_time }}</td>
<td>{{ task.created }}</td>
<td>{{ task.Dietary_Restrictions }}</td>
<td>{{ task.Delivery_Address }}</td>
<td><a href = "{% url 'delete' task.id %}"class="btn btn-success" role="button">Confirm Order</a></td>
<td><a href = "{% url 'confirm' task.id %}" class="btn btn-danger" role="button">Delete Order</a></td>
</tr>
<tbody>
{% endfor %}
</table>
</body>
</html>