
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class = "container">
	<h1>Kabab & Curry Free Meals</h1>
	<h4> We will be providing meals free of charge to anyone in need at this time. Our Goal is to keep the menu child friendly and healthy. All of our dishes will be made mild for this reason.</h4>
	<p><h5>
	*Once you have arrived please call the restaurant. We will walk the meal out to you for our safety and your own"</p></h5>
	{% crispy form form.helper %}
	</div>
</body>
</html>

